*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#nav{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    height: 54px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); ;
}
body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
#nav a{
    text-decoration: none;
    color: #000;
    letter-spacing: 4px;
}
#nav .logo a{
    padding: 20px 24px;
    line-height: 54px;
}
#nav li{
    display: inline-block;
}
#nav li a{
    padding: 20px 24px;
    line-height: 54px;
}
/* header */
#header{
    max-width: 1500px;
    /* height: 800px; */
    height: auto;
    margin: auto;
    position: relative;
}
#header img{
    max-width: 100%;
    height: auto;
}
.header-content{
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-BR{
    display: inline-block;
    background: #000;
    padding: 8px 16px!important;
    opacity: 0.75;
}
/* Content */
.page-content{
    max-width: 1564px;
    padding: 8px 16px!important;
    margin: auto;
}
.project{
    padding: 32px 16px;
}
.project-logo{
    font-size: 24px;
    font-weight: 200;
    margin: 10px 0px;
    padding: 16px 0px;
    border-bottom: 1px solid #ccc;
}
/* house list */
.house-list img{
    max-width: 100%;
}
.house-list{
    flex-wrap:wrap;
    display: flex;
    justify-content: space-between;
}
.house-item {
    position: relative;
    width: 25%;
    padding: 8px;
}
.house-name{
    position: absolute;
    top:0;
    left:0;
    margin-left: 8px;
    margin-top: 8px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
}
.center{
    margin: 0px 10px;
}
/*  About*/
.about-info{
    padding-top: 32px!important;
    padding-bottom: 32px!important;
}
.about-head{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 1px solid #f1f1ff;
    font-size: 24px;
    font-weight: 100;
}
.about-decription{
    margin: 16px 10pxpx;
}
.about-list{
    display: flex;
    justify-content: space-between;

}
.about-item{
    width: 25%;
    padding: 8px;
}
.about-item img{
    width: 100%;
    filter:grayscale(0.75);
}
.about-item h3{
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}
.about-item .opacity{
    opacity: 0.75;
    margin: 10px 0;
}
.about-item .btn{
    margin-top: 10px;
    width: 100%;
    padding: 8px 16px;
    background-color: #f1f1f1;
    border: none;
    font-size: 16px;
}
.about-item button:hover{
    background-color: #000;
    color: #fff;
}
/* CONTACT */
.contact{
    padding: 32px 10px;
}
.contact-head{
    padding: 16px 0px;
    margin: 10px 0px;
    border-bottom: 1px solid #ccc!important;
    border-bottom: 1px solid #ccc!important;
    font-size: 24px;
}
.contact-decription{
    margin: 15px 0px;
}
.contact input{
    padding:8px 5px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}
.contact .btn{
    width: 180px;
    padding: 10px 16px;
    border: none;
    background-color: #000;
    color: #fff;
}
.contact .btn:hover{
    background-color: #ccc;
    color: #000;
}
/* loaction */
.location{
    margin-bottom: -5px;
}
/* footer */
.footer{
    height: 100px;
    background-color: #000;
    position: relative;
}
.footer .text{
    font-family: monospace;
    font-size: 38px;
    color: #fff;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}